# Example: MVC setup
#
# This configuration demonstrates a minimal MVC architecture
# using PHP as the backend, Nginx as the web server, and MySQL for persistence.
#
# - Database: MySQL container for backend persistence
# - Backend: PHP application running an MVC application
# - Web server: Nginx serving the PHP application
# - Tools: Adminer for database management, Mailpit for email testing

name: mvc_example

include:
  - ../docker/persistence/docker-compose.mysql.yml

  - ../docker/utility/docker-compose.adminer.yml
  - ../docker/utility/docker-compose.mailpit.yml

services:
  php:
    depends_on:
      - mysql
    environment:
      - APP_ENV=local
    extends:
      file: ../docker/application/docker-compose.php.yml
      service: php
    volumes:
      - ${PWD}/app:/var/www/html:Z

  nginx:
    depends_on:
      - php
    extends:
      file: ../docker/infrastructure/docker-compose.nginx.yml
      service: nginx
    volumes:
      - ${PWD}/docker/conf/nginx/mvc.conf:/etc/nginx/conf.d/default.conf:Z
